body {
    margin: auto;
    color: #272727;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: #ffffff;
}

header {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
}

#fixedheader {
    margin: auto;
    width: 75%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



li {
    list-style-type: none;
}

header ul {
    display: flex;
    flex: 50%;
    align-items: baseline;
    padding-left: 0;
}

header li {
    position: relative;
    padding: 35px 10px;
    /*vertical puis horizontal*/
}

li a {
    text-decoration: none;
    color: #5d5d5d;
}

/* pour activer directement l'effet sur accueil */
header li:first-child,
header li:hover {
    border-top: #60b5dd solid 4px;
    background: #ffffff;
}

.iconeMenu {
    display: none;
}

#logo {
    flex: 50%;
}


/*partie slider-------------------------------------*/

#slider {
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    position: relative;
}

#imageSlider {
    width: 100%;
    vertical-align: bottom;
}

#flecheGauche {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #ffffff;
    background: #424246;
    padding: 10px 15px 10px 5px;
    border-radius: 5px 50px 50px 5px;
    /*top l, top r, bot r, bot l*/
}

#slider strong {
    color: #5cadd3;
    font-weight: bold;
}

#descriptionSlider {

    position: absolute;
    top: 25%;
    left: 10%;
    width: 40%;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#descriptionSlider p {
    margin-bottom: 15px;
}

#flecheDroite {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 2em;
    color: #ffffff;
    border-radius: 50px 0 0 50px;
    background: #424246;
    padding: 10px 5px 10px 15px;
    transform: translateY(-50%);
}

#boutonInfo {
    position: absolute;
    left: 0px;
    text-decoration: none;
    color: white;
    border-bottom: #4494bb solid 2px;
    background: #5cadd3;
    padding: 10px;
    border-radius: 2px;
}

#Defilement {
    background-color: rgba(0, 0, 0, 0.2);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#barreDefilement {

    background-color: #5cadd3;
    width: 12.5%;
    height: 5px;
}

/* ------------------------ partie services*/

#blocServices {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin-bottom: 30px;
}

.introServices {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

.pointBleuTitre {
    color: #5cadd3;
    border-radius: 50%;
    background: #ffffff;
    padding: 5px;
    position: relative;
    font-size: 0.9em;
    z-index: 2;
}

.ligneTitre {
    border-bottom: #ebebeb 1px solid;
    width: 120px;
    position: absolute;
    z-index: 1;
}


.pointEtLigne {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenuServices {
    display: flex;
    margin-top: -20px;
    padding: 0 15px;
}

#illuServices {
    flex: 50%;
}

.listeServices li {
    display: flex;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.iconeService {

    min-width: 80px;
}

.textDescriptionService {
    display: flex;
    flex-direction: column;
}

.textDescriptionService p {
    text-align: justify;
    text-justify: inter-word;
}

.imgFontAwesome {
    font-size: 1.5em;
    color: #60b5dd;
    border: #d7d7d7 1px solid;
    padding: 0.7em;
    border-radius: 50%;
    margin: -0.5em;
    vertical-align: middle;
}

.pointbleu {
    color: #5cadd3;
    font-size: 0.8em;
    margin-right: 0.8em;
    vertical-align: middle;
    border-radius: 50%;
    background: #ffffff;
    padding: 2px;
}

/*----------------------------------- partie projets/portfolio*/
#blocProjets {
    text-align: center;
    margin: auto;
    padding: 10px 0 25px 0;
    background: #f5f5f5;
}

.descriptionProjets figure img {
    display: none;
}

.descriptionProjets figure p {
    display: inline;
}

#tagsPortfolio {

    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

#tagsPortfolio ul {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0 0 15px 0;
}

#tagsPortfolio li {
    display: flex;
    flex-direction: column;
    color: #64686d;
    background: #e5e5e5;
    padding: 10px;
    font-weight: bold;
}

#tagsPortfolio li:first-child,
#tagsPortfolio li:hover {
    /*pour activer directement l'effet hover sur le 1er enfant et au survol */
    background: #60b5dd;
    border-bottom: #468cad solid 3px;
    height: 15px;
}


#tagsPortfolio li:first-child>a,
#tagsPortfolio li:hover>a {
    /*action 1 -> action 2 */
    color: #ffffff;
}


#tagsPortfolio li:first-child>.flechebas,
#tagsPortfolio li:hover>.flechebas {
    display: inline;
    font-size: 1.5em;
    position: relative;
    top: -2px;
    text-align: center;
    color: #468cad;
}

#tagsPortfolio li:first-child {
    border-radius: 5px 0 0 5px;
}


#tagsPortfolio li:last-child {
    border-radius: 0 5px 5px 0;
}

.flechebas {
    display: none;
}


#tagsPortfolio li:hover {
    background: #60b5dd;
    border-bottom: #468cad solid 3px;
    height: 15px;
}

#grillePortfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    padding-left: 0;
}

#grillePortfolio li {
    width: 25%;
}


.figPortfolio {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.figPortfolio img {
    width: 100%;
    vertical-align: bottom;
}

figcaption {
    display: none;
    position: relative;
    text-align: left;
    width: 100%;
    height: 80px;
}

figcaption strong {
    color: #ffffff;
    font-size: 1.1em;
}

figcaption p {
    margin: 10px;
}

.figPortfolio:hover>figcaption {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    z-index: 1;
}

.figPortfolio:hover>figcaption>.fa-eye {
    display: block;
    font-size: 0.9em;
    color: #ffffff;
    background: #4ea3b1;
    padding: 10px;
    border: 2px #ffffff solid;
    border-radius: 50%;
    width: 15px;
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: 2;
}


/*----------------------------- partie contact */

#formulaire {
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.plan {

    border: none;
    position: relative;
    margin: auto;
    background-color: #4494bb;
}

iframe {
    width: 100%;
    height: 650px;
    border: none;
    opacity: 0.7;
    vertical-align: bottom;
}

form {
    position: absolute;
    right: 50px;
    bottom: 25px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background: rgba(245, 245, 245, 0.83);
    border: none;
}

#adresse {
    position: relative;
    margin-top: -7px;
}

fieldset p,
strong {
    color: #65696E;
}

#contact {
    font-weight: bolder;
    font-size: 1.5em;
    color: black;
}

em {
    border-bottom: 1px dotted #65696E;
    font-style: unset;
}

.LigneARemplir {
    width: 95%;
    height: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
    border: #cccccc solid 1px;
    border-radius: 3px;
    background: white;
    opacity: 1;
    position: relative;
}

.BlocARemplir {
    width: 95%;
    min-height: 50px;
    border: #cccccc solid 1px;
    border-radius: 3px;
    background: white;
    opacity: 1;
}

fieldset input {
    border: none;
    width: 99%;
    height: 1.2em;
    opacity: 1;
}

textarea {
    border: none;
}

:placeholder-shown {
    color: #999999;
    font-weight: bold;
}

#submit {
    width: 50%;
    height: 2.5em;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    color: white;
    border-bottom: #4494bb solid 3px;
    border-radius: 5px;
    background: #5cadd3;
    padding: 8px 5px;
    position: absolute;
    bottom: 15px;
}


/*ajouté mais disqualifiant !
footer {
    padding-top: 15px;
    display: flex;
    padding-bottom: 15px;
    ;
}

footer nav {
    margin: auto;
}

footer ul {
    display: flex;

}

footer ul li {
    margin-right: 15px;

}

footer ul li a {

    color: #468cad;
}*/


@media screen and (min-width:901px) and (max-width: 1140px)

/*pour les petits écrans d'ordinateurs*/
    {
    #fixedheader {
        height: 80px;
    }

    header li {
        position: relative;
        padding: 25px 10px;
    }

    #slider {
        margin-top: 80px;
    }

    #descriptionSlider {
        top: 18%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.3em;
    }



    #grillePortfolio {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        width: 70%;
    }

    #grillePortfolio li {
        width: 33%;
    }

    figcaption {
        font-size: 0.9em;
        height: auto;
    }

}


@media all and (max-width: 900px)
/*pour les écrans de moins de 900px de large, comme les tablettes */

    {
    #logo {
        flex: 100%;
    }

    #fixedheader {
        height: 80px;
    }

    header li {
        position: relative;
    }

    #slider {
        margin-top: 80px;
    }

    #fixedheader nav {
        flex: 100%;
    }

    #descriptionSlider {
        top: 10%;
        left: 10%;
    }

    #descriptionSlider h1 {
        margin-top: 0;
    }

    #flecheGauche,
    #flecheDroite {
        font-size: 1.5em;
    }

    #flecheGauche {
        padding: 5px 12px 3px 5px;
    }

    #flecheDroite {
        padding: 5px 3px 5px 12px;
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    #descriptionSlider {
        top: 8%;
    }

    nav {
        text-align: center;
        width: auto;
        flex-wrap: wrap;
    }

    .contenuServices {
        flex-wrap: wrap;
    }

    #illuServices {

        margin: auto;
        text-align: center;
    }

    #illuServices img {
        width: 70%;
    }

    #grillePortfolio li {
        width: 50%;
    }

    figcaption {
        height: auto;
    }

    .figPortfolio>figcaption {
        display: block;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 0px;
        color: #ffffff;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        z-index: 1;
    }

    .figPortfolio>figcaption>.fa-eye {
        display: block;
        font-size: 0.9em;
        color: #ffffff;
        background: #4ea3b1;
        padding: 10px;
        border: 2px #ffffff solid;
        border-radius: 50%;
        width: 15px;
        position: absolute;
        top: -20px;
        right: 10px;
        z-index: 2;
    }

}


@media all and (max-device-width: 500px)

/* règles CSS pour les mobiles */
    {
    header {
        overflow: auto;
        position: absolute;
        z-index: 1;
    }

    #fixedheader {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 150px;
        align-items: center;
    }

    #fixedheader nav {
        flex: 100%;
    }

    header ul {
        margin: auto;
        justify-content: space-around;
    }

    header li {
        font-size: 2em;
        padding: 10px;
    }

    header li:first-child,
    header li:hover {
        border-top: none;
    }

    #logo {
        text-align: center;
        padding: 5px;
    }

    #boutonInfo {
        padding: 7px;
    }

    .texteMenu {
        display: none;
    }

    .iconeMenu {
        display: inline;
        color: #32a0c1;
    }

    #slider {
        overflow: hidden;
        z-index: 3;
        margin-top: 150px;
        height: 220px;
        background: url('images/slider/bg1.jpg') left;
    }

    #slider img {
        display: none;
    }

    #descriptionSlider {
        top: 5%;
        left: 15%;
        width: 80%;
    }

    #descriptionSlider h1 {
        margin-top: 5px;
    }

    #descriptionSlider p {
        margin-top: -15px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }

    #illuServices {
        flex: 100%;
    }

    #tagsPortfolio img {
        display: block;
        width: 100%;
        opacity: 0.7;
        position: absolute;
    }

    .descriptionProjets figure {
        width: 100%;
        margin: 0;
        position: relative;
    }

    .descriptionProjets figure img {
        display: block;
        padding-top: 20px;
        width: 100%;
    }

    .descriptionProjets figure p {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 40%;
        text-align: center;
        color: white;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold;
    }

    #tagsPortfolio ul {
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }


    #grillePortfolio li {
        width: 100%;
    }

    #tagsPortfolio li:first-child {
        border-radius: 5px 5px 0 0;
    }

    #tagsPortfolio li:last-child {
        border-radius: 0 0 5px 5px;
    }

    figcaption {
        height: 80px;
    }

    iframe {
        height: 200px;
    }


    form {
        position: relative;
        margin: auto;
        width: 100%;
        right: unset;
        bottom: unset;
        background: #60b5dd;
    }

    fieldset {
        margin: auto;
        width: unset;
        padding: 20px;
    }

    textarea {
        min-width: 95%;
    }
}